.order-cards {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    background-color: #f18f01;
    height: fit-content;
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 10px;
    color: #fbf5f3;
}

.identification {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.identification p {
    margin-bottom: 0.5em;
}

.status {
    display: flex;
    flex-direction: column;
} 
 
.item {
    margin-bottom: 0;
    color: #2a2d34;
}

.mainItem {
    font-weight: 500;
}

.subMenus {
    margin-left: 1.5em;
}