/* El div de la app total */
* {
  list-style: none;
}

.app {
  width: 100%;
  display: flex;
  height: 100%;
  /* background-color: mediumturquoise; */
}

/* Div total izquierdo */
.takingOrder {
  width: 70%;
  /* background-color: yellow; */
  height: 768px;
  display: flex;
  flex-direction: column;
}

/* Div del nombre y mesa */
.clientID {
  width: 90%;
  height: 7em;
  /* background-color: blue; */
  margin: 1em;
  display: flex;
}

.menuDiv {
  display: flex;
}

/* Div del menú  */
.menu {
  width: 20em;
  height: 35em;
  background-color: blueviolet;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

/* Div del total de la cuenta */
.total {
  width: 20em;
  height: 35em;
  background-color: goldenrod;
  margin: 1em;
  display: flex;
}

/* Div total derecho */
.orderStatus {
  width: 30%;
  height: 768px;
  background-color: hotpink;
  display: flex;
  justify-content: center;
}

.orderStats {
  width: 300px;
  height: 720px;
  background-color: lawngreen;
  margin-top: 1em;
}



