/* El div de la app total */
* {
  list-style: none;
}

.app {
  width: 100%;
  display: flex;
  height: 100%;
}

/* Div total izquierdo */
.takingOrder {
  width: 70%;
  height: 768px;
  display: flex;
  flex-direction: column;
}

/* Div del nombre y mesa */
.clientID {
  width: 90%;
  height: 5em;
  margin: 1em;
  display: flex;
  margin-bottom: 0;
}

.menuDiv {
  display: flex;
  justify-content: space-between;
}

/* Div del menú  */
.menu {
  width: 45%;
  height: 30em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

/* Div del total de la cuenta */
.total {
  width: 45%;
  height: 30em;
  background-color: #2a2d34;
  margin: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 6.5em;
  border-radius: 10px;
  justify-content: space-between;
  padding-top: 1em;
}

/* Div total derecho */
.orderStatus {
  width: 30%;
  height: 45.8em;
  background-color: #17bebb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 1em;
}

p {
  margin-bottom: 0.75em;
}

.buttonSendCook{
  display: flex;
  align-self: flex-end;
  margin-right: 1em;
}



